<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="layout :: htmlhead" th:with="title='Home'"></head>
<body>
<div th:replace="layout :: navbar(Home)">(navbar)</div>
<div class="container">
    <h1>Welcome page</h1>

    <div sec:authorize="isAuthenticated()">
        Authenticated username:
        <div sec:authentication="principal.username"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>
    </div>

    <!--<div sec:authorize access="hasAnyRole('ADMIN', 'USER')">-->
    <div sec:authorize="hasRole('ADMIN')">
        This content will only be visible to users who have the "supervisor" authority in their list of <tt>GrantedAuthority</tt>s.
    </div>

</div>
<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>