<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='User List'"></head>
<body>
<div th:replace="layout :: navbar(Users)">(navbar)</div>
<div class="starter-template">
    <table class="table-bordered table-hover">
        <thead>
        <tr>
            <th th:text="userId">ID</th>
            <th th:text="username">username</th>
            <th th:text="firstName">firstName</th>
            <th th:text="lastName">lastName</th>
            <th th:text="email">email</th>
            <th th:text="roles">roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">userId</td>
            <td th:text="${user.userName}">userName</td>
            <td th:text="${user.firstName}">firstName</td>
            <td th:text="${user.lastName}">lastMane</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.roles}">roles</td>

            <td>
                <a href="scan-results.html"
                   th:href="@{/port/list(id = ${user.id})}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>